.payment-pop-up {
    &__container {
        width: 480px;
        height: 257px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
    }

    &__title {
        font-family: TerminaBold;
        font-size: 22px;
        text-align: center;
        padding-top: 10px;
    }

    &__description {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    &__text {
        width: 350px;
        height: 36px;
        margin-left: 20px;
        padding-top: 8px;
    }

    &__price {
        font-family: FuturaPtHeavy;
        font-size: 18px;
        line-height: 13px;
        margin-right: 20px;
    }

    &__buttons {
        margin-left: 20px;
        padding-top: 42px;

        button {
            height: 50px;
            border-radius: 25px;
            border: none;
            cursor: pointer;

            &:disabled {
                opacity: 0.3;
            }
        }
    }

    &__apple-pay-button {
        width: 440px;
        background-color: black;

        img {
            margin: 0 auto;
        }
    }

    &__extra-payment-buttons {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        gap: 10px;
    }

    &__stripe-button {
        width: 214px;
        font-family: FuturaPtHeavy;
        font-size: 22px;
        background-color: #3300CC;
        color: white;
    }

    &__paypal-button {
        width: 215px;
        background-color: #FFC439;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__x-mark {
        width: 18px;
        height: 18px;
        background-image: url(../public/images/XMarkBlack.svg);
        position: absolute;
        cursor: pointer;
        margin-left: 5%;
        margin-top: 4%;
    }

}

@media (max-width:1200px) {
    .payment-pop-up {
        background: rgba(0, 0, 0, 0);

        &__container {
            width: 100vw;
            height: 274px;
            bottom: 0;
            box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &__inner {
            padding-bottom: 35px;
        }

        &__title {
            font-size: 18px;
        }

        &__description {
            gap: 1px;

            p {
                font-size: 16px;
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__buttons {
            margin-right: 20px;
        }

        &__text {
            padding-left: 20px;
        }

        &__price {
            padding-right: 20px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__apple-pay-button {
            width: 345px;
        }

        &__stripe-button {
            width: 168px;
        }

        &__paypal-button {
            width: 167px;
        }

        &__x-mark {
            left: -1%;
            top: 2%
        }
    }
}