.photo {
    width: 400px;
    height: 400px;
    cursor: pointer;
    overflow: hidden;

    .photo-img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }

}

@media (max-width:1024px) {
    .photo {
        width: 125px;
        height: 125px;
        overflow: hidden;
    }
}