.no-photos-yet {
    padding-top: 20px;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-image {
        max-width: 90px;
        max-height: 90px;
    }

    &__info-title {
        line-height: 22px;
        padding-top: 20px;
        color: #262626;
        font-family: FuturaPtHeavy;
        font-size: 30px;
    }

    &__info-text {
        padding-top: 8px;
        color: #262626;
        text-align: center;
        font-family: FuturaPtDefault;
        font-size: 22px;
    }

    &__artists-prints {
        padding-top: 80px;
    }

    &__artists-prints-title {
        font-size: 30px;
        font-family: FuturaPtHeavy;
        line-height: 20px;
        padding-bottom: 15px;
    }

    &__artists-prints-thumbnails {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 100px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__artists-prints-thumbnail {
        width: 200px;
        height: 245px;
        cursor: pointer;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:1200px) {
    .no-photos-yet {

        &__info-title,
        &__artists-prints-title {
            font-size: 22px;
        }

        &__info-text {
            font-size: 18px;
        }

        &__artists-prints-thumbnail {
            width: 170px;
            height: 213px;
        }

        &__info-image {
            width: 81px;
            height: 74px;
        }

    }

}