.album {
    max-width: 200px;
    min-width: 200px;
    max-height: 250px;
    border-radius: 11px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .album-content::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 100;
    }

    .album-title {
        max-width: 150px;
        font-family: FuturaPtDefault;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 5px;
        margin-right: 5px;
        position: absolute;
        z-index: 100;
        margin-top: 200px;
    }

    .album-background-image {
        width: 200px;
        height: 250px;
        object-fit: cover;
        z-index: -10;
    }

}

@media (max-width:1200px) {
    .album {
        min-width: 110px;
        max-width: 110px;
        height: 140px;
    }

    .album-background-image {
        width: 110px;
        height: 140px;
    }

    .album-title {
        width: 100px;
        bottom: 20px;
        font-size: 12px;
    }
}