.number-input {
    padding-bottom: 250px;
    display: flex;

    &__title {
        width: 345px;
    }

    &__input {
        height: 40px;
        min-width: 410px;
        font-family: FuturaPtDefault;
        background-color: #EEEEEE;
    }

    &__text {
        color: #262626;
        font-family: FuturaPtDemi;
        font-size: 18px;
        line-height: 15px;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    &__privacy-policy {
        color: #6D6D6D;
        font-family: FuturaPtDefault;
        font-size: 14px;
        margin-top: 17px;
        max-width: 340px;
    }

    &__privacy-policy-container {
        margin-top: 30px;
        line-height: normal;
        letter-spacing: -0.28px;

        a {
            color: #6D6D6D;
            text-decoration: underline #30C;
        }
    }

    &__button-container {
        margin-top: 18px;
    }

    &__title-container {
        text-align: center;
        padding-top: 130px;
        padding-right: 50px;
    }

}

@media (max-width:1024px) {
    .number-input {
        &__input {
            min-width: 335px;
        }
    }
}