.otp-input-container {
    display: flex;
    flex-direction: row;
    gap: 30px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }
}

.otp-input-box {
    width: 45px;
    height: 40px;
    gap: 15px;
    border-radius: 10px;
    color: #262626;
    font-family: FuturaPtMedium;
    text-align: center;
    border: none;
    background-color: #f4f4f4;
}

@media (max-width:1024px) {
    .otp-input-container {
        gap: 15px;
    }
}