.album-details {
    margin: 0 auto;
    padding-top: 10px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    &__info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: FuturaPtDefault;
        margin-left: 15px;

        h1 {
            color: #262626;
            font-family: TerminaBold, FuturaPtDemi;
            font-size: 22px;
            max-width: 300px;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__details {
        display: flex;
        padding-left: 37px;
    }

    &__date {
        position: relative;
        padding-right: 25px;

        &::after {
            content: "";
            background-color: black;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 11px;
        }
    }

    &__photos-count {
        color: #30C;
    }

    &__unlock-photos {
        font-size: 22px;
        font-family: FuturaPtHeavy;
        color: #30C;
        position: relative;
        cursor: pointer;
    }

    &__unlock-button {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;

        button {
            margin: 0 auto;
        }
    }

    &__left-arrow {
        position: absolute;
        border: solid black;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 1%;
        top: 18px;
        cursor: pointer;
    }
}

@media (max-width:1200px) {
    .album-details {
        &__info {
            font-size: 14px;
            flex-direction: column;
            padding-left: 20px;
            margin: 0;

            h1 {
                font-size: 18px;
            }
        }

        &__details {
            padding: 0;
            align-self: flex-start;
        }

        &__unlock-photos {
            display: none;
        }

        &__left-arrow {
            left: 4%;
            top: 25px;
        }

        &__unlock-button {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}